html, body{
    background-color: darkgray;
}
div {
    width: fit-content;
    margin: 10vw auto 0;
    border: 2px solid black;
    border-radius: 5%;
    background-color: honeydew;
}
div:hover {
    background-color: khaki;
    cursor: pointer;
}
#changingElement {
    margin: 10px 20px;
}